In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# https://finance.yahoo.com/quote/SPY/history?period1=1136073600&period2=1619395200&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true
file = 'SPY.csv'

df = pd.read_csv(file)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2006-01-03,125.190002,127.000000,124.389999,126.699997,93.390411,73256700
1,2006-01-04,126.860001,127.489998,126.699997,127.300003,93.832680,51899600
2,2006-01-05,127.150002,127.589996,126.879997,127.379997,93.891640,47307500
3,2006-01-06,128.020004,128.580002,127.360001,128.440002,94.673004,62885900
4,2006-01-09,128.419998,129.059998,128.380005,128.770004,94.916222,43527400

In [2]:
df['log_adj_close'] = np.log(df['Adj Close'])
r = np.diff(df['log_adj_close'].tolist())

In [3]:
df.shape

(3853, 8)

In [4]:
mu = np.mean(r)
sigma = np.std(r)
sigma2 = np.var(r)
skew = stats.skew(r)
kurt = stats.kurtosis(r)

print('Ground Truth Stats (daily log returns):')
print('Mean:\t\t\t', mu)
print('Std dev:\t\t', sigma)
print('Variance:\t\t', sigma2)
print('Skew:\t\t\t', skew)
print('Excess kurt:\t\t', kurt)

Ground Truth Stats (daily log returns):
Mean:			 0.00038828500211185896
Std dev:		 0.012609683312504871
Variance:		 0.00015900411324166382
Skew:			 -0.3902041167121579
Excess kurt:		 15.06628837558424